@import url(https://fonts.googleapis.com/css?family=Lato:900);

a {
    text-decoration: underline;
    color: #23527c;
}
    a.btn, .navbar a, .social-links a, footer #legal-links a {
        text-decoration: none;
    }

h1, h2 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 22px;
    margin: 1.5em 0 .75em 0;
}

td { /* for CRS footnotes */
    vertical-align: top;
}

#donate-button a {
    background-color: #878f7a;
    color: white;
}

footer {
    color: #555;
}

    footer a {
        color: #79816e;
    }

    footer #legal-links {
        border-top: 1px solid #EEE;
        padding-top: 1em;
        margin-top: 1em;
        font-size: 10px;
    }

.social-links a {
    display: inline-block;
    margin-right: 1em;
}

/* HOME PAGE */

#subhead {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* TOPICS PAGE */

#topic-areas {
    max-width: 1000px;
}
  #topic-areas .count {
    font-size: 90%;
    color: #666;
  }

/* SUMMARY PAGES */

.crs-report {
    margin-bottom: 1.5em;
}

.crs-report .report-title {
    font-size: 110%;
    font-weight: bold;
}

.crs-report p {
    margin-bottom: .25em;
}

/* REPORT PAGES */

#download-link {
    float: right;
    margin: 0 0 1.5em 1.5em;
}
    #download-link a {
        font-size: 120%;
    }

#sidebar-metadata {
    font-size: 90%;
    margin-left: 1em;
}
    #sidebar-metadata p:last-child {
        margin: 0;
    }
@media screen and (max-width: 768px) {
    #sidebar-metadata {
        margin: 16px 0;
    }
}

#report-versions td {
    padding-right: 1em;
}

#report-versions .report-changes {
    font-size: 95%;
    color: #666;
}

#topics {
    margin-bottom: .75em;
}
    #topics p {
        margin-bottom: .25em;
    }
        #topics p.heading {
            font-weight: bold;
        }
