@import url(https://fonts.googleapis.com/css?family=Lato:500,900);
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';

body {
    background-color: #23527c;
}

a {
    text-decoration: underline;
    color: #23527c;
}
    a.btn, .navbar a, .social-links a, footer #legal-links a {
        text-decoration: none;
    }

h1, h2 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 22px;
    margin: 1.5em 0 .75em 0;
}

td { /* for CRS footnotes */
    vertical-align: top;
}

.navbar {
  margin: 0;
}

    .navbar-brand {
      font-family: 'Roboto Slab', sans-serif;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 23px;
    }

    .navbar a {
        color: white;        
    }
        .navbar li:hover a {
            background-color: #224466;        
        }
    .navbar .icon-bar {
        background-color: #EEF;
    }

#donate-button a {
    background-color: #22AA99;
    color: white;
    font-weight: bold;
}

#body {
    background-color: white;
    padding: 2em 0;
}

footer {
    padding: 2em 0;
    color: #EEE;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
}
    footer .wrapper {
        padding: 1em 0;
        background-color: #234A77;
    }

    footer a {
        color: #FAFAF0;
        text-decoration: none;
    }
        footer a:hover {
            color: #FFFFDD;
            text-decoration: underline;
        }

    footer #legal-links {
        border-top: 1px solid #EEE;
        padding-top: 1em;
        margin-top: 1em;
        font-size: 10px;
    }

.social-links a {
    display: inline-block;
    margin-right: 1em;
}

/* HOME PAGE */

#subhead {
    margin: 1.5em 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
}

#search-block {
    margin: 4em auto 3em auto;
    max-width: 55em;
}
#search-block .our-gsc-wrapper {
    min-height: 42px;
}
#search-block input {
    font-size: 22px;
    background-size: auto 70% !important;
    height: 34px;
}
.gsc-control-cse { padding: 0 !important; }
.gsc-search-box { padding: 0 !important; }
.gsc-input-box { height: auto !important; }
.our-links {
    text-align: right;
    margin-top: 1em;
    margin-right: 2em;
}

#recent-reports h2 {
    font-size: 18px;
    font-weight: normal;
}
#recent-reports .report-title {
    font-weight: normal;
}

/* TOPICS PAGE */

#topic-areas {
    max-width: 1000px;
}
  #topic-areas .count {
    font-size: 90%;
    color: #666;
  }

/* SUMMARY PAGES */

.crs-report {
    margin-bottom: 1.5em;
}

.crs-report .report-title {
    font-size: 110%;
    font-weight: bold;
}

.crs-report p {
    margin-bottom: .25em;
}

/* REPORT PAGES */

#download-link {
    margin-bottom: 2em;
}
    #download-link a {
        width: 100%;
        font-size: 120%;
    }

#sidebar-metadata {
    font-size: 90%;
    margin-left: 1em;
}
    #sidebar-metadata p:last-child {
        margin: 0;
    }
@media screen and (max-width: 768px) {
    #sidebar-metadata {
        margin: 16px 0;
    }
}

#report-versions td {
    padding-right: 1em;
}

#report-versions .report-changes {
    font-size: 95%;
    color: #666;
}

#topics {
    margin-bottom: .75em;
}
    #topics p {
        margin-bottom: .25em;
    }
        #topics p.heading {
            font-weight: bold;
        }
