@import url(https://fonts.googleapis.com/css?family=Lato:900);

h1, h2 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 22px;
    margin: 1.5em 0 .75em 0;
}

td { /* for CRS footnotes */
    vertical-align: top;
}

/* HOME PAGE */

#topic-areas .count {
    font-size: 90%;
    color: #666;
}

/* SUMMARY PAGES */

.crs-report {
    margin-bottom: 1.5em;
}

.crs-report .report-title {
    font-size: 110%;
    font-weight: bold;
}

.crs-report p {
    line-height: 135%;
    margin-bottom: .25em;
}

/* REPORT PAGES */

#download-link {
    float: right;
    margin: 0 0 1.5em 1.5em;
}
    #download-link a {
        font-size: 120%;
    }

#sidebar-metadata {
    font-size: 90%;
    margin-left: 1em;
}
    #sidebar-metadata p:last-child {
        margin: 0;
    }
@media screen and (max-width: 768px) {
    #sidebar-metadata {
        margin: 16px 0;
    }
}

#report-versions td {
    padding-right: 1em;
}

#report-versions .report-changes {
    font-size: 95%;
    color: #666;
}

#topics {
    margin-bottom: .75em;
}
    #topics p {
        margin-bottom: .25em;
    }
        #topics p.heading {
            font-weight: bold;
        }
