{% extends "master.html" %}

{% block title %}
About EveryCRSReport.com
{% endblock %}

{% block head %}
<style>
@media screen and (min-width: 768px) {
	.bubble {
		margin-left: 2em;
		color: #333;
		font-size: 99%;
		line-height: 130%;
	}
	.main-text {
		font-size: 16px;
		line-height: 140%;
	}
}

h2 {
	font-size: 16px;
}
</style>
{% endblock %}

{% block body %}
<h1>About</h1>

<div class="row">
	<div class="col-sm-5 col-sm-push-7">
		<div class="bubble">

		<div style="margin-bottom: 1.5em">
			{% include "social-media-links.html" %}
		</div>

		<h2>Who we are</h2>

		<p>EveryCRSReport.com is a project of the <a href="https://americalabs.org/">American Governance Institute</a> in collaboration with the <a href="http://congressionaldata.org/">Congressional Data Coalition</a>. We are grateful to Demand Progress Education Fund and the R Street Institute, whose early support of the Congressional Data Coalition made this website possible.</p>

		<h2>Contact information</h2>

		<p>You can reach us at <a href="mailto:everycrsreport@americalabs.org">everycrsreport@americalabs.org</a>.</p>

		<p>We are glad to hear from you, but please do not ask us to help you perform research or find reports. </p>

		<h2>Support our work</h2>

		<p>If you are interested in supporting our work, or want to support other open government work, please contact me, Daniel Schuman, at <a href="mailto:everycrsreport@americalabs.org">everycrsreport@americalabs.org</a>.</p>

		<h2>Bulk download</h2>

		<p>All of the CRS reports (and metadata) on this site is available for download. See the <a href="/download.html">developer documentation</a> for details.</p>

		</div>
	</div>

	<div class="col-sm-7 col-sm-pull-5 main-text">
		<h2 class="visible-xs-block">About the site</h2>

		<p>Congressional Research Service reports are the best way for anyone to quickly get up to speed on major political issues without having to worry about spin — from the same source Congress uses.</p>
		
		<p>CRS is Congress’ think tank, and its reports are relied upon by academics, businesses, judges, policy advocates, students, librarians, journalists, and policymakers for accurate and timely analysis of important policy issues. The reports are not classified and do not contain individualized advice to any specific member of Congress. (More: <a href="/what-is-a-crs-report.html">What is a CRS report?</a>)</p>

		<p>Until today, CRS reports were generally available only to the well-connected.</p>

		<p>Now, in partnership with a Republican and a Democratic member of Congress and library partners, we are making these reports available to everyone for free online and in one place.</p>

		<p>A <a href="https://medium.com/demand-progress/open-crs-bill-introduced-in-house-and-senate-527284b706e2#.bl4v0fkqj">coalition of public interest groups, journalists, academics, students, some Members of Congress, and former CRS employees</a> have been advocating for greater access to CRS reports for over twenty years. Two bills in Congress to make these reports widely available already have 10 sponsors (<a href="https://www.govtrack.us/congress/bills/114/s2639">S. 2639</a> and <a href="https://www.govtrack.us/congress/bills/114/hr4702">H.R. 4702</a>, 114th Congress) and we urge Congress to finish the job.</p>

		<p>This website shows Congress one vision of how it could be done. Here's <a href="https://medium.com/demand-progress/why-i-came-to-believe-crs-reports-should-be-publicly-available-and-built-a-website-to-make-it-77b4b0f6233e#.enxkr4ia9">why we did it</a>.</p>

		<hr>

		<h2>What does EveryCRSReport.com include?</h2>

		<p>EveryCRSReport.com includes {{reports_count|intcomma}} CRS reports. The number changes regularly.</p>

		<p>It’s every CRS report that’s available on Congress’s internal website CRS.gov, plus about 5,100 archived reports from the <a href="https://digital.library.unt.edu/explore/collections/CRSR/">University of North Texas Libraries Government Documents Department CRS reports collection</a>.</p>

		<p>As appropriate, we redact the phone number and email address of analysts from the reports obtained from CRS.gov. We also add disclaimer language regarding copyright and the role CRS reports are intended to play. That’s it. (Here's <a href="https://medium.com/@danielschuman/crs-report-author-information-a780807e6d45#.9kqt0hy9k">why we redact some info</a>.)</p>

		<p>We also show how much a report has changed over time (whenever CRS publishes an update), provide RSS feeds, and we hope to add more features in the future. <a href="{% include "donate-url.txt" %}">Help us make that possible.</a></p>

		<p>To receive an email alert for all new reports and new reports in a particular topic area, use the RSS icon next to the topic area titles and a third-party service, like <a href="https://ifttt.com/">IFTTT</a>, to monitor the RSS feed for new additions.</p>


		<h2>Acknowledgements</h2>

		<p>We owe a huge debt to Josh Ruihley, who built the amazing (but no longer operating) opencrs.com, which hand curated the reports from the web. We are fortunate to be able to take a different approach to gathering the reports and salute him for his years of effort.</p>

		<p>We also must thank Antoine McGrath, who not only built the fantastic <a href="https://crsreports.com/">CRSReports.com</a>, but also helped write the code to clean up CRS’ files.</p>

		<p>We also must acknowledge Steve Aftergood of the Federation of American Scientists, who tirelessly collected many CRS reports <a href="https://www.fas.org/sgp/crs/">on his website</a>, <a href="https://github.com/DanielSchuman/Policy/wiki/Congressional-Research-Service#resources-to-obtain-reports">as have many others</a>, who curate and publish the reports online.</p>

		<p><a href="https://razor.occams.info">Joshua Tauberer</a> did the software development for this website.
		
		<p>We dedicate the website to the memory of Aaron Swartz and to activists everywhere that labor to make civic information available to the general public.</p>
	</div>
</div>


{% endblock %}
