{% extends "master.html" %}

{% block title %}
About EveryCRSReport.com
{% endblock %}

{% block body %}
<h1>About</h1>

{% include "social-media-links.html" %}

<hr>

<p>EveryCRSReport.com is a project of <a href="https://demandprogress.org/">Demand Progress</a>, a progressive organization that coordinates the <a href="http://congressionaldata.org/">Congressional Data Coalition</a> along with the libertarian <a href="http://www.rstreet.org/">R Street Institute</a>. We, and <a href="https://medium.com/demand-progress/open-crs-bill-introduced-in-house-and-senate-527284b706e2#.bl4v0fkqj">many others</a>, believe general distribution reports issued by the Congressional Research Service—the United States Congress’ think tank—should be available to everyone, not just those who are connected to Congress or can afford the fees of third-party websites that manage to aggregate and sell the reports.</p>

<p>In coordination with some Members of Congress, who are providing the reports to us, we are publishing these non-confidential reports that provide valuable insight and non-partisan analysis of important topics that are the subject of public discussion. All the reports that are available on CRS’s internal website are available here, and the site is updated regularly.</p>

<p>We believe Congress should publish the reports and strongly support legislation introduced in the House and Senate to make it happen. (See <a href="https://www.govtrack.us/congress/bills/114/s2639">S. 2639</a> and <a href="https://www.govtrack.us/congress/bills/114/hr4702">H.R. 4702</a>, 114th Congress.) This goal is supported by members of Congress, civil society organizations, and former CRS employees with a collective 500-years of experience. Unfortunately, despite recent statements, the relevant committees of jurisdiction have not conducted hearings on the issue or markups of the legislation even though the public has been clamoring for access for almost 20 years.</p>

<p>In addition to providing everyone access to the reports, this website is a proof of concept. It implements all the requirements in the House and Senate bills, provides additional functions beyond those available to Congressional staff on CRS’s internal website, and was built for a mere $3,000 thanks to a grant from Elizabeth B. and Arthur E. Roswell Foundation. Of course, it will take additional funds to keep the website live and create additional features.</p>


<h2>This project is great? How can I support it?</h2>

<p>I’m glad you like it. It was a labor of love. You can go to <a href="https://secure.actblue.com/contribute/page/demanding">Demand Progress’ donation website</a> and donate there. If you are interested in giving more than a modest amount (any amount is welcome!), or want to support other open government work, please contact me, Daniel Schuman, at <a href="mailto:everycrsreport@demandprogress.com">everycrsreport@demandprogress.com</a>.</p>

<p>There are more things we’d like to do. To start, we’d like to add a federated search function, track changes for text, more intuitive categories, and older reports.</p>


<h2>What is a CRS report?</h2>

<p>The Congressional Research Service is a legislative branch agency, housed inside the Library of Congress, charged with providing the United States Congress non-partisan advice on issues that may come before Congress. CRS creates a number of written work products, but generally speaking they are (1) CRS reports, (2) CRS general distribution memoranda, and (3) CRS memoranda. This website contains CRS reports only. Most reports are written at the initiative of a CRS analyst, although some reports can be prompted by a request from a staffer. Alas, the reports are not comprehensively published, which is why this website exists</p>

<p>CRS reports are published on CRS’s internal website and made are available by CRS to thousands of legislative staff, as well as to people in other branches of government and journalists on request. They are not classified, nor confidential, and routinely are made available to public as a matter of course. In fact, it’s the policy of the Senate to encourage its members to release the reports to the public.</p>

<p>CRS general distribution memoranda are also intended to general use, but they are not published on CRS’s website. Staffers must call up and ask for them. They do not contain classified material and they are not confidential. CRS memoranda are written at the request of an individual Member of Congress or staffer. They are considered confidential, and may be released to the public only by the Member of Congress who requested the document. They do not contain classified information.</p>

<p>Information in a CRS report should not be relied upon for purposes other than public understanding of information that has been provided by CRS to Members of Congress in connection with CRS’s institutional role.</p>

<p>More information than anyone could ever want about CRS and CRS reports is available on Daniel’s <a href="https://github.com/DanielSchuman/Policy/wiki/Congressional-Research-Service">wiki page</a>.</p>


<h2>What does EveryCRSReport.com include?</h2>

<p>EveryCRSReport.com includes {{reports_count|intcomma}} CRS reports. The number changes regularly.</p>

<p>Is it really EVERY CRS report?</p>

<p>It’s every CRS report that’s available on Congress’s internal website.</p>

<p>Our good friends at <a href="http://CRSReports.com">CRSReports.com</a> have scraped the web for every report that’s currently available online and have found additional reports.</p>


<h2>Where do the reports come from?</h2>

<p>Several members of Congress provide the reports to us. If you work for a member of Congress and are interested in helping, please let me know.</p>


<h2>Can I copy these reports?</h2>

<p>CRS reports, as works of the United States Government, are not subject to copyright protection in the United States. Any CRS report may be reproduced and distributed in its entirety without permission from CRS. However, as a CRS report may include copyrighted images or material from a third party, you may need to obtain the permission of the copyright holder if you wish to copy or otherwise use copyrighted material.</p>


<h2>Do you alter the reports in any way?</h2>

<p>Yes, we do. We redact the phone number and email address of the analysts from the reports. We add disclaimer language regarding copyright and the role CRS reports are intended to play. That’s it.</p>


<h2>What are you trying to accomplish?</h2>

<p>We are trying to prod Congress to comprehensively publish CRS reports to the public. There’s no reason that special interests should be able to get access to them but the general public cannot. In a media landscape filled with pundits with positions they are trying to sell, there’s a desperate need for non-partisan, reliable analysis on important issues. We’re trying to show how useful a site like this is and how easy it would be for Congress to implement.</p>

<p><a href="https://www.govtrack.us/congress/bills/114/s2639">S. 2639</a> and <a href="https://www.govtrack.us/congress/bills/114/hr4702">H.R. 4702</a>, 114th Congress would require the Government Publishing Office to make all the reports available online, with disclaimers on the website and on each report regarding copyright and the nature of the work product, the redaction of staffer phone and email addresses on each report, and bulk download of the reports.</p>

<p>This would be better if done by CRS than by us, but we are doing it to show that it’s possible for a trivial amount of effort. The code to do the redactions is online at GitHub.</p>


<h2>What is the revision history box?</h2>

<p>CRS reports are regularly revised by CRS staff. Sometimes there are major revisions to a report, other times it can be as trivial as adding a footnote and fixing a typo. Where possible, we indicate how much of a report has changed from its prior version so that users can know whether it’s worth re-reading. Ultimately, we would like to provide track changes so you can see exactly what has changed, but we aren’t there (yet).</p>


<h2>Email alerts?</h2>

<p>It is possible to receive an email alert for all new reports and new reports in a particular topic area. There’s a little icon next to the titles that indicates there is an RSS feed.</p>

<p>Using a third party service, like <a href="https://ifttt.com/">IFTTT</a>, you can have it monitor the different RSS feeds and sent you an email whenever there’s a new report.</p>


<h2>Bulk download and source code</h2>

<p>TODO</p>

<p>This website is open source. The source code is at <a href="https://github.com/joshdata/crs-reports-website">https://github.com/joshdata/crs-reports-website</a>.</p>


<h2>Acknowledgements</h2>

<p>We owe a huge debt to Josh Ruihley, who built the amazing (but no longer operating) opencrs.com, which hand curated the reports from the web. We are fortunate to be able to take a different approach to gathering the reports and salute him for his years of effort.</p>

<p>We also must acknowledge Steve Aftergood of the Federation of American Scientists, who are tirelessly collected many CRS reports on his website.</p>

<p>Our good friends at <a href="http://CRSReports.com">CRSReports.com</a> have scraped the web for every report that’s currently available online and have found additional reports.</p>

<p><a href="https://razor.occams.info">Joshua Tauberer</a> did the software development for this website.</p>


<h2>Contact information?</h2>

<p>You can reach us at <a href="mailto:everycrsreport@demandprogress.com">everycrsreport@demandprogress.com</a>.</p>

<p>We are not able to help you do research or find reports, so don’t expect a response if you make that request. Otherwise, we are glad to hear from you. More contact information for us is at the <a href="https://demandprogress.org/policy">Demand Progress policy page</a>.</p>


{% endblock %}
