{% extends "master.html" %}

{% block title %}
About EveryCRSReport.com
{% endblock %}

{% block head %}
<style>
@media screen and (min-width: 768px) {
	.bubble {
		margin-left: 2em;
		color: #333;
		font-size: 99%;
		line-height: 130%;
	}
	.main-text {
		font-size: 16px;
		line-height: 140%;
	}
}

h2 {
	font-size: 16px;
}
</style>
{% endblock %}

{% block body %}
<h1>About</h1>

<div class="row">
	<div class="col-sm-5 col-sm-push-7">
		<div class="bubble">

		<div style="margin-bottom: 1.5em">
			{% include "social-media-links.html" %}
		</div>

		<h2>Who we are</h2>

		<p>EveryCRSReport.com is a project of <a href="https://demandprogress.org/">Demand Progress</a>, a progressive organization that coordinates the <a href="http://congressionaldata.org/">Congressional Data Coalition</a> (along with the libertarian <a href="http://www.rstreet.org/">R Street Institute</a>).</p>

		<h2>Contact information</h2>

		<p>You can reach us at <a href="mailto:everycrsreport@demandprogress.com">everycrsreport@demandprogress.com</a>.</p>

		<p>We are not able to help you do research or find reports, so don’t expect a response if you make that request. Otherwise, we are glad to hear from you. More contact information for us is at the <a href="https://demandprogress.org/policy">Demand Progress policy page</a>.</p>

		<h2>Support our work</h2>

		<p>Please go to our <a href="{% include "donate-url.txt" %}">donation website</a> and donate there to help us keep this website running. If you are interested in giving more than a modest amount (any amount is welcome!), or want to support other open government work, please contact me, Daniel Schuman, at <a href="mailto:everycrsreport@demandprogress.com">everycrsreport@demandprogress.com</a>.</p>

		<h2>Bulk download</h2>

		<p>All of the CRS reports (and metadata) on this site is available for download. See the <a href="/download.html">developer documentation</a> for details.</p>

		</div>
	</div>

	<div class="col-sm-7 col-sm-pull-5 main-text">
		<h2 class="visible-xs-block">About the site</h2>

		<p>The American public needs to know what Congress knows. Congressional Research Service reports are the best way for anyone to quickly get up to speed on major political issues without having to worry about spin &mdash; from the same source Congress uses.</p>
		<p>These reports are already available to the well-connected &mdash; we’re making them available to everyone for free.</p>

		<p>The Congressional Research Service (CRS) is Congress’s think tank. EveryCRSReport.com publishes only reports that are available to all Congressional staff. They are not classified or confidential. (More: <a href="/what-is-a-crs-report.html">What is a CRS report?</a>)</p>

		<p>Who uses CRS reports? Everyone. Students, journalists, advocates, and even the Supreme Court relies on CRS reports for accurate and timely analysis of major policy issues.</p>

		<div style="height: 300px; border: 1px solid black; margin: 2em 1em 1em 1em">
		</div>
		<div style="margin: 1em 1em 2em 1em; font-style: italic;">
			Caption.
		</div>

		<p>A <a href="https://medium.com/demand-progress/open-crs-bill-introduced-in-house-and-senate-527284b706e2#.bl4v0fkqj">coalition of public interest groups, journalists, academics, students, some Members of Congress, and former CRS employees</a> have been advocating for greater access to CRS reports for over twenty years. Two bills in Congress to make these reports widely available already have 10 sponsors (<a href="https://www.govtrack.us/congress/bills/114/s2639">S. 2639</a> and <a href="https://www.govtrack.us/congress/bills/114/hr4702">H.R. 4702</a>, 114th Congress) and we are lobbying Congress to vote on the bills soon (fact sheet).</p>

		<p>Now in partnership with several Members of Congress, we are able to make these reports available and build a platform for a modern way to disseminate this information widely. This website is a proof of concept that Congress easily could be doing it themselves.</p>

		<hr>

		<h2>What does EveryCRSReport.com include?</h2>

		<p>EveryCRSReport.com includes {{reports_count|intcomma}} CRS reports. The number changes regularly.</p>

		<p>It’s every CRS report that’s available on Congress’s internal website.</p>

		<p>We redact the name, phone number, and email address of the analysts from the reports. We add disclaimer language regarding copyright and the role CRS reports are intended to play. That’s it.</p>

		<p>Our good friends at <a href="http://CRSReports.com">CRSReports.com</a> have scraped the web for every report that’s currently available online and have found additional reports.</p>

		<p>We also show how much a report changes over time (when CRS publishes updates), RSS feeds, and we hope to add more features in the future. To receive an email alert for all new reports and new reports in a particular topic area, use the RSS icon next to the topic area titles  and a third-party service, like <a href="https://ifttt.com/">IFTTT</a>, to monitor the RSS feed for new additions.</p>


		<h2>Acknowledgements</h2>

		<p>We owe a huge debt to Josh Ruihley, who built the amazing (but no longer operating) opencrs.com, which hand curated the reports from the web. We are fortunate to be able to take a different approach to gathering the reports and salute him for his years of effort.</p>

		<p>We also must acknowledge Steve Aftergood of the Federation of American Scientists, who are tirelessly collected many CRS reports on his website.</p>

		<p>Our good friends at <a href="http://CRSReports.com">CRSReports.com</a> have scraped the web for every report that’s currently available online and have found additional reports.</p>

		<p><a href="https://razor.occams.info">Joshua Tauberer</a> did the software development for this website.</p>
	</div>
</div>


{% endblock %}
