{% extends "master.html" %}

{% block title %}
Every CRS Report
{% endblock %}

{% block head %}

<meta property="og:title" content="EveryCRSReport.com: Every CRS Report" />
<meta name="description" content="EveryCRSReport publishes all current, non-confidential Congressional Research Service (CRS) Reports in one place, for free, for everyone.">

<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml"/>
<meta property="og:title" content="Every CRS Report" />
{% endblock %}

{% block body %}
<h1>EveryCRSReport.com</h1>
<div id="subhead">Releasing {{reports_count|intcomma}} CRS Reports to the General Public</div>
<p style="margin: 30px 0 0 0; font-size: 120%">
	Reports by Congress’s think tank, the Congressional Research Service, provide valuable insight and non-partisan analysis of important topics that are the subject of public discussion. Until Congress does so, we will publish all the current non-confidential reports in one place, for free, for everyone to use. (<a href="/about.html">More about this site</a>)
</p>

<div id="search-block">
	<div class="our-gsc-wrapper">
		<gcse:search></gcse:search>
	</div>
	<div class="our-links">
		<a href="/topics.html">Browse by Topic</a>
	</div>
</div>

<div id="recent-reports">
<h2>
  Recently Published Reports
  <a href="/rss.xml" title="RSS feed for new and updated reports"><img src="/static/rss.png" style="height: 1em; vertical-align: top;" alt="RSS icon"></a>
</h2>
<div class="row">
{% for report in recent_reports %}
    <div class="col-sm-6 crs-report">
        <p class="report-title"><a href="/reports/{{report.number}}.html">{{report.versions[0].title}}</a></p>
        <p class="report-metadata">{{report.number}} {{report.versions[0].date|date}}</p>
        <div class="report-summary">{{report.versions[0].summary|truncate(140)}}</div>
    </div>
    {% if loop.index is divisibleby 2 %}<div class="hidden-xs clearfix"></div>{% endif %}
    {% endfor %}
</div>
</div>

{% endblock %}

{% block scripts %}
<script>
  (function() {
    var cx = '014986166530157065869:wey2cphd9m0';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{% endblock %}
