{% extends "master.html" %}

{% block title %}
Privacy Policy
{% endblock %}

{% block body %}
<h1>Privacy Policy</h1>

<p>We are committed to respecting the privacy of our users.</p>

<p>Although EveryCRSReport.com does not collect any information about you, this website embeds third-party services that may collect information about your browsing session or set cookies on your browser. Those services include <a href="https://support.google.com/analytics/answer/6004245?hl=en">Google Analytics</a>, <a href="https://developers.google.com/speed/libraries/">Google Hosted Libraries</a>, <a href="https://www.bootstrapcdn.com/">Bootstrap CDN</a>, and <a href="https://aws.amazon.com/compliance/data-privacy-faq/">Amazon Web Services</a>.</p>



{% endblock %}
