{% extends "master.html" %}

{% block title %}
What is a CRS Report?
{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block body %}
<h1>What is a CRS report?</h1>

<p>The Congressional Research Service is a legislative branch agency, housed inside the Library of Congress, charged with providing the United States Congress non-partisan advice on issues that may come before Congress. CRS creates a number of written work products, but generally speaking they are (1) CRS reports, (2) CRS general distribution memoranda, and (3) CRS memoranda. This website contains CRS reports only. Most reports are written at the initiative of a CRS analyst, although some reports can be prompted by a request from a staffer. Alas, the reports are not comprehensively published, which is why this website exists</p>

<p>CRS reports are published on CRS’s internal website and made are available by CRS to thousands of legislative staff, as well as to people in other branches of government and journalists on request. They are not classified, nor confidential, and routinely are made available to public as a matter of course. In fact, it’s the policy of the Senate to encourage its members to release the reports to the public.</p>

<p>CRS general distribution memoranda are also intended to general use, but they are not published on CRS’s website. Staffers must call up and ask for them. They do not contain classified material and they are not confidential. CRS memoranda are written at the request of an individual Member of Congress or staffer. They are considered confidential, and may be released to the public only by the Member of Congress who requested the document. They do not contain classified information.</p>

<p>Information in a CRS report should not be relied upon for purposes other than public understanding of information that has been provided by CRS to Members of Congress in connection with CRS’s institutional role.</p>

<p>More information than anyone could ever want about CRS and CRS reports is available on Daniel’s <a href="https://github.com/DanielSchuman/Policy/wiki/Congressional-Research-Service">wiki page</a>.</p>


<h2>Do CRS reports change?</h2>

<p>CRS reports are regularly revised by CRS staff. Sometimes there are major revisions to a report, other times it can be as trivial as adding a footnote and fixing a typo. Where possible, we indicate how much of a report has changed from its prior version so that users can know whether it’s worth re-reading. Ultimately, we would like to provide track changes so you can see exactly what has changed, but we aren’t there (yet).</p>


<h2>Can I copy these reports?</h2>

<p>CRS reports, as works of the United States Government, are not subject to copyright protection in the United States. Any CRS report may be reproduced and distributed in its entirety without permission from CRS. However, as a CRS report may include copyrighted images or material from a third party, you may need to obtain the permission of the copyright holder if you wish to copy or otherwise use copyrighted material.</p>

{% endblock %}