<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - EveryCRSReport.com</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="CRS Reports">
        <meta name="application-name" content="CRS Reports">
        <meta name="theme-color" content="#ffffff">

        <meta name="twitter:site" content="@EveryCRSReport" />
        <meta name="twitter:site:id" content="765735376912719876" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" integrity="sha256-VBrFgheoreGl4pKmWgZh3J23pJrhNlSUOBek+8Z2Gv0=" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/main.css">

        {% block head %}{% endblock %}
    </head>
    <body>

    <!--[if lt IE 8]><p>Internet Explorer version 8 or any modern web browser is required to use this website, sorry.<![endif]-->
    <!--[if gt IE 7]><!-->

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">EveryCRSReport.com</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/topics.html">Topic Areas</a></li>
            <li><a href="/about.html">About</a></li>
            <li id="donate-button"><a href="{% include "donate-url.txt" %}">Donate</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="body">
        {% block body_wide %}
        <div class="container">
    	{% block body %}
    	{% endblock %}
        </div> <!-- /container -->
        {% endblock %}
    </div>
    
    <footer>
      <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <a href="/about.html">About</a>
            </div>
            <div class="col-sm-2">
                <a href="https://twitter.com/EveryCRSReport"><span>@EveryCRSReport</span></a>
            </div>
            <div class="col-sm-2">
                <a href="/download.html">Bulk Download</a>
            </div>
            <div class="col-sm-2">
                <a href="https://github.com/joshdata/crs-reports-website"><span>GitHub</span></a>
            </div>
            <div class="col-sm-2">
                <a href="/privacy.html">Privacy</a>
            </div>
            <div class="col-sm-2">
                <a href="{% include "donate-url.txt" %}">Donate</a>
            </div>
        </div>
     </div>
    </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <script src="static/js/main.js"></script>

        <script>
        var ga_account_id = 'UA-XXXXX-X';
        if (ga_account_id != 'UA-XXXXX-X') {
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create',ga_account_id);ga('send','pageview');
        }
        </script>

	{% block scripts %}
	{% endblock %}
    </body>
</html>
