{% extends "master.html" %}

{% block title %}{{report.versions[0].title}}{% endblock %}

{% block head %}
<meta property="og:title" content="{{report.versions[0].title}}" />
<meta property="og:description" content="{{report.versions[0].summary|truncate(140)}}" />
<meta property="og:image" content="{{thumbnail_url}}" />
<meta name="twitter:card" content="summary" />
{% endblock %}

{% block body %}

<div id="report-page">

<h1>{{report.versions[0].title}}</h1>

<p class="report-metadata">
    <code>{{report.number}}</code>
    {% if report.versions[-1].date != report.versions[0].date %}{{report.versions[-1].date|date}} &ndash;{% endif %}
    {{report.versions[0].date|date}}
</p>

<div class="row">
    <div class="col-sm-8">
        <div class="report-summary">{{report.versions[0].summary|format_summary|safe}}</div>

        <p class="report-authors">Author(s): {% for author in report.versions[0].authors %}{{author}}{% if not loop.last %}, {% endif %}{% endfor %}</p>
    </div> <!-- /col -->

    <div class="col-sm-4">
    <div id="sidebar-metadata">
        {% for format in report.versions[0].formats %}
             {% if format.format == "PDF" %}
                 <div id="download-link">
                     <a href="/{{format.filename}}" class="btn btn-success">Download {{format.format}}</a>
                 </div>
             {% endif %}
        {% endfor %}

       <div class="panel panel-default">
       <div class="panel-heading">Revision History</div>
       <div class="panel-body">
           <div id="report-versions">
           {% for version in report.versions %}
           <div class="row">
               <div class="col-md-6 col-lg-4 report-version-date">{{version.date|date}}</div>
               <div class="col-md-6 col-lg-4 report-formats">
                   {% for format in version.formats %}
                       <a href="/{{format.filename}}">{{format.format}}</a>
                       {% if not loop.last %} &middot; {% endif %}
                   {% endfor %}
               </div>
               {% if 'percent_change' in version %}
               <div class="col-md-6 visible-md-block">&nbsp;</div>
               <div class="col-md-6 col-lg-4 report-changes" style="margin-bottom: .5em">
                   {% if version.percent_change == 'no-change' %}no change
                   {% elif version.percent_change == 0 %}&lt;1% changed
                   {% else %}{{version.percent_change}}% changed{% endif %}
               </div>
               {% endif %}
           </div>
           {% endfor %}
           </div>
       </div>
       </div>

       <div class="panel panel-default">
       <div class="panel-heading">Metadata</div>
       <div class="panel-body">
           {# display the topics of the most recent version #}
           {% if report.topics|length > 0 %}
           <div id="topics">
               <p class="heading">Topic areas</p>
               {% for topic in report.topics %}
                  <p><a href="/topics/{{topic.slug}}.html">{{topic.name}}</a></p>
               {% endfor %}
           </div>
           <hr>
           {% endif %}
           <p class="report-metadata"><a href="{{report.number}}.json">JSON</a></p>
       </div>
       </div>
    </div>
    </div> <!-- /col -->

</div> <!-- /row -->

<div class="row">
    <div class="col-sm-8">
        {% if html %}
            <div id="report-content">
                {{html|safe}}
            </div>
        {% endif %}
    </div> <!-- /col -->
</div> <!-- /row -->

</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
    // give the tables nice Bootstrap styling
    $('#report-content table').addClass('table');
});
</script>
{% endblock %}
