{% extends "master.html" %}

{% block title %}{{report.versions[0].title}}{% endblock %}

{% block head %}
<!-- opengraph & twitter cards -->
<meta property="og:title" content="{{report.versions[0].title}}" />
<meta property="og:description" content="{{report.versions[0].summary|truncate(140)}}" />
<meta property="og:image" content="{{thumbnail_url}}" />
<meta name="twitter:card" content="summary" />

<!-- google schema.org -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Report",
  "headline": {{report.versions[0].title|json}},
  "datePublished": {{report.versions[-1].date.isoformat()|json}},
  "dateModified": {{report.versions[0].date.isoformat()|json}},
  "thumbnailUrl": {{thumbnail_url|json}},
  "publisher": {
   "@type": "Organization",
   "name": "Congressional Research Service"
  },
  "description": {{report.versions[0].summary|truncate(140)|json}},
  "reportNumber": {{report.number|json}}
}
</script>

<!-- for our internal generation process -->
<meta name="source-content-hash" content="{{source_content_hash}}" />
{% endblock %}

{% block body %}

<div id="report-page">

<h1>{{report.versions[0].title}}</h1>

<p class="report-metadata">
    {% if report.versions[-1].date != report.versions[0].date %}{{report.versions[-1].date|date}} &ndash;{% endif %}
    {{report.versions[0].date|date}}
    <code>{{report.number}}</code>
</p>

<div class="row">
    <div class="col-sm-8">
      {% if show_summary %}
          <div class="report-summary">{{report.versions[0].summary|format_summary|safe}}</div>
      {% elif html %}
        <div id="report-content">
            {{html|safe}}
        </div>
      {% endif %}
    </div> <!-- /col -->

    <div class="col-sm-4">
    <div id="sidebar-metadata">
        {% for format in report.versions[0].formats %}
             {% if format.format == "PDF" %}
                 <div id="download-link">
                     <a href="/{{format.filename}}" class="btn btn-success">Download {{format.format}}</a>
                 </div>
             {% endif %}
        {% endfor %}

       <div class="panel panel-default">
       <div class="panel-heading">Revision History</div>
       <div class="panel-body">
           <div id="report-versions">
           {% for version in report.versions %}
           <div class="row">
               <div class="col-md-6 col-lg-4 report-version-date">{{version.date|date_short}}</div>
               <div class="col-md-6 col-lg-4 report-formats">
                   {% for format in ["PDF", "HTML"] %}
                     {% if format in version.formats %}
                       <a href="/{{version.formats[format].filename}}">{{format}}</a>
                       {% if not loop.last %} &middot; {% endif %}
                     {% endif %}
                   {% endfor %}
               </div>
               {% if 'percent_change' in version %}
               <div class="col-md-6 visible-md-block">&nbsp;</div>
               <div class="col-md-6 col-lg-4 report-changes" style="margin-bottom: .5em">
                   {% if version.percent_change == 'no-change' %}no change
                   {% elif version.percent_change == 0 %}&lt;1% changed
                   {% else %}{{version.percent_change}}% changed{% endif %}
               </div>
               {% endif %}
           </div>
           {% endfor %}
           </div>
       </div>
       </div>

       <div class="panel panel-default">
       <div class="panel-heading">Metadata</div>
       <div class="panel-body">
           {# display the topics of the most recent version #}
           {% if report.topics|length > 0 %}
           <div id="topics">
               <p class="heading">Topic areas</p>
               {% for topic in report.topics %}
                  <p><a href="/topics/{{topic.slug}}.html">{{topic.name}}</a></p>
               {% endfor %}
           </div>
           <hr>
           {% endif %}
           <div>Report Type: {{report.type}}</div>
           <div>Raw Metadata: <a href="{{report.number}}.json">JSON</a></div>
       </div>
       </div>
    </div>
    </div> <!-- /col -->

</div> <!-- /row -->

{% if show_summary %}
<div class="row">
    <div class="col-sm-8">
        {% if html %}
            <div id="report-content">
                {{html|safe}}
            </div>
        {% endif %}
    </div> <!-- /col -->
</div> <!-- /row -->
{% endif %}

</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
    // give the tables nice Bootstrap styling
    $('#report-content table').addClass('table');

    // except a table that follows <h2>Footnotes</h2>
    $('#report-content h2').each(function() {
      if ($(this).text() == "Footnotes") {
        $(this).next('table').removeClass('table');
      }
    })
});
</script>
{% endblock %}
